*{
    background-color: #F1FAFB; 
}

h1{
    background-color: antiquewhite;
    font-size: 2.5rem;
}
h2{
    color: #F55050;
    text-align: center;
    margin: 20px 0;
}

.color1{
    background-color: #A7FFE4;
}

.color2{
    background-color: #FFD57E;
}

.color3{
    background-color: #A7FFE4;
}

.color4{
    background-color: #FFD57E;
}

img{
    border-radius: 50%;
    border: 5px solid grey;
}